
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

body {
    font-family: 'Kumbh Sans', sans-serif;
    background: #2e282a;
    background-image: url("https://www.transparenttextures.com/patterns/navy.png");
}

h1 {
    color: #E6E1C5;
    font-family: 'Fugaz One', cursive;
    font-size: 3em;
}

h2 {
    font-size: 2em;
    font-family: 'Fugaz One', cursive;
    color: #C44536;
}

h4 {
    margin-top: -10px;
}

h4 > a {
    text-decoration: none;
    color: #E6E1C5;
    transition: 0.2s ease-out;
}

h4 > a:hover {
    color: #9590A8;
}

li {
    padding: 10px;
}

li > a {
    text-decoration: none;
    color: #E6E1C5;
    transition: 0.2s ease-out;
}

li > a:hover {
    color: #9590A8;
}

p > a {
    text-decoration: none;
    color: #E6E1C5;
    transition: 0.2s ease-out;
}

p > a:hover {
    color: #9590A8;
}

a {
    text-decoration: none;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    margin: -10px;
    position: fixed;
    background: rgb(52, 49, 45, 95%);
    z-index: 8;
}

.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

ul {
    list-style: none;
}

.fa-window-close {
    position: fixed;
    cursor: pointer;
    font-size: 2em;
    transform: translateX(-273px) translateY(7px);
}

.fa-window-close:hover {
    color: #9590A8
}

.fuzz {
    visibility: hidden;
    height: 100vh;
    width: 100vw;
    margin: -8px;
    position: fixed;
    background: rgb(230, 225, 197, 10%);
    z-index: 9;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin: -8px;
    padding-top: 50px;
    background: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/navy.png");
}

#hero {
    display: flex;
    justify-content: center;
}

.hero-img {
    width: 600px;
}

.hero-txt {
    position: absolute;
    align-self: center;
    color: #E6E1C5;
    text-shadow: 3px 3px rgba(23, 22, 27, 0.9);
    font-size: 4em;
}

.hero-des {
    position: absolute;
    align-self: center;
    color: #E6E1C5;
    text-shadow: 2px 2px rgba(23, 22, 27, 0.9);
    transform: translateY(80px);
    font-size: 1.5em;
}

#infopopups {
    display: flex;
    justify-content: center;
}

.popup {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    margin: 30px;
    height: 90vh;
    width: 600px;
    background-color: rgb(52, 49, 45, 95%);
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    color: #E6E1C5;
    box-shadow: 10px 10px rgb(196, 69, 54, 95%);
    z-index: 10;
}

.popup > footer {
    font-size: 0.75em;
    padding-bottom: 25px;
}

.clickforlyrics {
    font-size: 0.75em;
    margin-top: -15px;
}

.blur {
    filter: blur(10px);
}

.show {
    animation-name: fadein;
    animation-duration: 0.3s;
    visibility: visible;
  }

.fuzzshow {
    animation-name: fuzzin;
    animation-duration: 0.75s;
    visibility: visible;
}

@keyframes fuzzin {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes fadein {
    from {
        opacity: 0%;
        transform: translateY(-1000px);
    } 
    to {
        opacity: 100%;
        transform: translateY(0px);
    }
}

.music-links > a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 2em;
}

p {
    margin-right: 20px;
    margin-left: 20px;
}

.albumart {
    width: 500px;
    margin-top: 30px;
}

#projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(46, 40, 42);
    background-image: url("https://www.transparenttextures.com/patterns/navy.png");
    margin: -8px;
}

#albums {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.box {
    width: 250px;
    height: 250px;
    background: black;
    margin: 50px;
    cursor: pointer;
    box-shadow: 10px 10px rgb(149, 144, 168, 50%);
    transition: 0.2s ease-out;
}

.box:hover {
    box-shadow: 15px 15px rgb(196, 69, 54, 50%);
}

@media (max-width: 960px) {
    #albums {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .box {
        width: 200px;
        height: 200px;
        margin: 40px;
    }
    
}

#media {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 40, 42);
    background-image: url("https://www.transparenttextures.com/patterns/navy.png");
    margin: -8px;
}

#media-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#socials {
    width: 640px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.social > h2 {
    margin-top: -10px;
}

.social {
    display: flex;
    flex-direction: row;
}

.social-title {
    opacity: 0%;
    margin-left: 15px;
    font-size: 1.5em;
    color: rgb(149, 144, 168);
    transform: translateY(2px) translateX(-20px);
    transition: 0.3s ease-out;
}

#soundcloud:hover > .social-title {
    transform: translateY(2px) translateX(0px);
    opacity: 100%;
}

#spotify:hover > .social-title {
    transform: translateY(2px) translateX(0px);
    opacity: 100%;
}

#youtube:hover > .social-title {
    transform: translateY(2px) translateX(0px);
    opacity: 100%;
}

#instagram:hover > .social-title {
    transform: translateY(2px) translateX(0px);
    opacity: 100%;
}

@media (max-width: 1300px) {
    #media-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #socials {
        width: 400px;
        text-align: center;
    }
    .social-title {
        opacity: 100%;
        transform: translateX(0px);
    }
}



